/*-Variables-*/

:root {
  --basic-red:#EE3643;
  --darken-red: #B32B34;
  --hover-red: #CA2C37;
  --error-red: #BA2732;
  --logo-dark: #8C2027;
  --modal-line-red: #FF4A4E;

  --basic-green: #63A63E;
  --special-greenlight: #8ED78F;
  --success : #5FBB2D;
  --line-filter-inner: #1AB568;
  --dark-green: #367315;
  --darken-green: #518534;
  --bar-green: #1AB568;

  --basic-white: #FFFFFF;

  --home-grey: #C1C6CE;
  --basic-grey: #697180;
  --page-grey: #E5E5E5;
  --basic-greylight: #C5C5C5;
  --tel-grey: #B7BFC8;
  --icon-grey: #3BBCE3;
  --dark-grey: #32425C;
  --darken-grey: #293449;
  --darkness-grey: #1D2739;
  --price-grey: #A9A9A9;
  --header-grey:#F3F7F9;
  --border-grey: #EAEAEA;
  --title-background-grey: #F9F5F0;  
  --service-grey: #F1F5F7;
  --catalog-title-grey: #F2F6F8;
  --catalog-filter-grey: #F7F3EC;
  --toggle-grey: #ABABAB;
  --grey-bookmarks: #98A0AD;
  --grey-modal: #F4F4F4;
  --grey-modal-cart: #F1F1F1;
  --grey-shadow: #cfcfcf;
  --grey-checkbox: #B5B5B5;

  --basic-black: #000000;
  --cart-dark: #161D29;

  --special-yellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --goods-yellow: #FFC047;
  --footer-yellow: #FFDA96;

  --special-blue: #3BBCE3;

  --special-lilac: #DC91D8;

  --social-dark: #212A3A;
  --card-button: rgba(255,255,255, 0.3);
  --cart-icon-dark: rgba(255, 255, 255, 0.5);
  --basic-shadow: rgba(0, 0, 0, 0.25);
  --dark-shadow: rgba(0, 0, 0, 0.15);
  --filter-border: rgba(0, 0, 0, 0.01);
  --inset-shadow: #405069;
}

/*--Global--*/

/*--Grid--*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  font-style: normal;
  font-weight: normal;  
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;  
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-grey);
  text-transform: uppercase;
}

h3 {
  width: 185px;
  height: 43px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  width: 65px;
  height: 18px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  color: var(--price-grey);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.pentagon {
  position: relative;
  width: 122px;
  height:38px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
}

.pentagon::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  left: 122px; top: 0px;
  border-style: solid;
  border-width: 19px;
  border-color: transparent transparent transparent var(--basic-red); 
}

.nothing {
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--Header--*/

.main-header {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: auto auto auto;
  margin-bottom: 59px;
  color: var(--basic-white);
  background-color: var(--header-grey);
  outline: 1px solid rgba(0, 255, 0, 0.7);
  outline-offset: -1px;

}

.header-top {
  grid-row: 1/2;
  margin-bottom: 46px;
  height: 42px;
  background-color: var(--darken-grey);
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-logo {
  margin: 0;
  margin-right: 0;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  background-image: url(../img/logo-technomart.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 5px var(--darken-red);  
}

.user-logo:active {
  background-color: var(--error-red);
  box-shadow: 0px 5px var(--logo-dark);
}

.header-form {
  margin-right: 10px;
  outline: 1px solid red;
}

.search {
  height: 42px;
  padding-left: 10px;
  outline: 1px solid #3BBCE3;
}

.search input {
  width: auto;
  height: 40px;
  background-color: var(--darken-grey);
  border: none;
  outline: 1px solid #63A63E;
}

.search:hover searching {
  fill: var(--basic-white);
}

.search:focus searching {
  fill: var(--basic-red);
}

.search input:focus {
  background-color: var(--basic-white);  
}


.searching {
  fill: var(--basic-white);
}

  input:focus .searching {
  fill: var(--basic-red);
  mix-blend-mode: normal;
}


.bookmark .book,
.cart .carts,
.search .searching {
  margin-right: 8px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  width: 131px;
  height: 42px;
  color: var(--basic-white);  
}

.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  width: 145px;
  height: 42px;
  color: var(--basic-white);  
}

.bookmark:hover > .book,
.cart:hover > .carts,
.search:hover > .searching {
 mix-blend-mode: normal;
 opacity: 1;
}

.bookmark:active {
  color: var(--cart-icon-dark);
  background-color: var(--cart-dark);
}

.cart:active {
  color: var(--cart-icon-dark);
}

.bookmark:active > .book,
.cart:active > .carts {
 mix-blend-mode: normal;
 opacity: 0.3;
}


.order {
  margin-left: -2px;
  width:150px;
  height: 42px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 42px;
  font-style: normal;
  font-weight: normal;  
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-green);
}

.order:hover {
  background-color: var(--success);
}

.order:active {
  color: var(--cart-icon-dark);
}

/*--header-middle--*/

.header-middle {
  grid-row: 2/3;
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  outline: 1px solid var(--social-dark);
  outline-offset: -1px;
}

.site-title p {
  margin: 0;
}

.site-title {
  width: 200px;
  height: 71;
  margin-left: 30px;
  margin-right: 93px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: var(--basic-red);
  outline: 1px solid var(--special-blue);
  outline-offset: -1px;
}

.contact {
 margin-right: 69px;
 outline: 1px solid var(--special-blue);
  outline-offset: -1px;
}

.phone {
  width: 265px;
  height: 45px;  
  margin: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 45px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.phone a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  color: var(--basic-red);
}

.phone img {
  margin-right: 10px;
  vertical-align: middle;
}

.address {
  border: 1px solid red;
  height: 24px;
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--dark-grey);
}

.p-login-link {
  margin: 0;
  margin-right: 10px;
  width: 121px;
  height: 45px;
  text-align: center;
  background-color: var(--basic-white);  
}

.p-login-link svg {
  vertical-align: -2px;
}

.p-registration {
  margin: 0;
  width: 150px;
  height: 45px;
  text-align: center;
  background-color: var(--basic-white);  
}

.login-link, 
.registration {
  box-sizing: border-box;
  font-size: 21px;
  line-height: 45px;
  color: var(--basic-black);
}

.enter {
  fill: var(--basic-greylight);
}

.login-link:hover,
.registration:hover {
  color: var(--basic-red);
}

.login-link:hover > .enter {
  fill: var(--basic-grey);
}

.login-link:active > .enter {
  fill: var(--basic-greylight);
}

.login-link:active,
.registration:active {
  color: var(--basic-greylight);
}


/*--main-navigation--*/

.main-navigation {
  grid-row: 3/4;
  margin-bottom: 60px;
  background-color: var(--dark-grey);
  border-bottom: 5px solid var(--darken-grey);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 884px;
  margin: 0 auto;
  padding: 0;
  list-style: none;  
}

.site-item a {
  display: block;
  padding: 16px 27px 15px 27px;
  color: var(--basic-white);
}

.site-item a:hover {
  background-color: var(--darken-grey);
}

.site-item a:active {
  background-color: var(--darkness-grey);
  opacity: 0.5;
  text-shadow: 0px 4px 4px var(--basic-shadow);
}

/*--main--
    section goods--*/   
  .main-container {
    grid-row: 2/3;
  }

 .goods {
   margin-bottom: 59px;
 }   

.goods h3 {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 23px; top: 20px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: var(--basic-white);
}

.goods-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto fr;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;
}

.material {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--special-yellow);
}

.material img {
  position: absolute;
  left: 213px; top: 31px;
}

.tools {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2; 
  background-color: var(--special-blue);
}

.tools img {
  position: absolute;
  left: 194px; top: 34px;
}

.equipment {
  position: relative; 
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--special-lilac);
}

.equipment img {
  position: absolute;
  left: 191px; top: 31px;
}

.discount {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3; 
  background-color: var(--special-greenlight);
}

.discount img {
  position: absolute;
  left: 196px; top: 26px;
}

.delivery {
  position: relative;
  grid-column: 3/4;
  grid-row: 3/4;  
  background-color: var(--goods-yellow);
}

.delivery img {
  position: absolute;
  left: 191px; top: 32px;
}

.goods-button {
  position: absolute;
  display: block;
  left: 23px; top: 64px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  /*filter: drop-shadow(0px 4px 4px var(--basic-shadow));*/

  background-color: var(--card-button);
  /*opacity: 0.3;*/
}

/*----Slider_1----*/

.slider_1 {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  background-color: #8ED78F;
}

.slider_1 .icon-left {
  display: block;
  position: absolute;
  content: '';
  width: 22px;
  height: 40px;
  left: 24px; top: 114px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider_1 .icon-right {
  display: block;
  position: absolute;
  content: '';
  width: 22px;
  height: 40px;
  right: 20px; top: 114px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(180deg);
}

.slider_1-current-1 {
  background-image: url(../img/slider.png);
}

.slider_1-current-2 {
  background-image: url(../img/slider-1.png);
}

.button-slider_1 {
  position: absolute;
  left: 24px; bottom: 27px;
  z-index: 5px;
}

.slider_1-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 30px;
  position: absolute;
  left: 295px;
  bottom: 36px;
  z-index: 20px;
}

.slider_1-controls button {
  position: relative;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.slider_1-controls button:active {
  border: none;
}

.slider_1-controls .current::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--basic-red);
  border-radius: 50%;
}









/*--popular goods--*/

.popular-goods {
  position: relative;
  margin-bottom: 50px;
}


.popular-goods h2 {
  padding-left: 28px;
  padding-top: 29px;
  padding-bottom: 30px;  
  background-color: var(--title-background-grey);
}

.popular-goods h3 {
  margin: 0 auto 7px;
}

.old-price {
  margin-bottom: 13px;
}

.popular-goods .popular-button {
  position: absolute;
  left: 734px; top: 25px;
}

.popular-list {  
  display: flex;  
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.popular-item {
  position: relative;
  width: 220px; 
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid var(--border-grey);
  overflow: hidden;  
}

.popular-item:nth-child(4n) {
  margin-right: 0;
}

.popular-picture {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}

.button-link {
  display: block;
  width: 192px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  text-transform: uppercase;
}

.button-link:hover {
  background-color: var(--hover-red);
}

.button-link:active {
  background-color: var(--error-red);
}

.new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  left:150px; top: 28px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  transform-origin: 70px 0;
  transform: rotate(45deg);
  z-index: 10;
}


/*--popular-logo--*/

.popular-logo {
 position: relative;
 margin-bottom: 50px;
}

.popular-logo h2 {
  padding-left: 28px;
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: var(--title-background-grey);
}

.popular-logo .popular-button {
  position: absolute;
  left: 729px; top: 25px;
}

.popular-logo-list { 
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-logo-item {
  margin: 0 20px 20px 0;
}

.popular-logo-item:nth-child(4n) {
  margin-right: 0;
}

.popular-logo-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid var(--border-grey);
  background-color: var(--basic-white);
}

.popular-logo-item a:hover {
  filter: drop-shadow(0px 4px 10px var(--dark-shadow));
}

.popular-logo-item a:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 10px var(--dark-shadow));
}

/*--service and delivery--*/

.service-delivery {
  height: 460px;
  margin-bottom: 70px;
  padding-top: 64px;  
}

.service-delivery h2 {
  margin-top: 0;
}

.service-delivery .title {
  color: var(--basic-black);
}

.service-delivery .wrapper {
  display: flex;
  margin-top: 70px;  
}

.slider_2-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider_2-item {
  position: relative;  
}

.wrapper-inner-inner {
  margin-top: 0px;
  width: 330px;
}

.wrapper-inner-inner-2 {
  margin-top: 0;
  width: 331px;
}

.wrapper-inner-inner-3 {
  width: 309px;
}

.lorry {
  position: absolute;
  left: 151px; top: 19px;  
}

.gold-100 {
  position: absolute;
  top: -4px; left: 239px;
}

.dollar {
  position: absolute;
  left: 165px; top: 0px;
}

.button-credit {
  position: absolute;
  left: 0; top: 133px;
}

.service,
.slider-delivery-text,
.guarantee-text,
.credit-text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.slide {
  display: none;
}

.current-slide {
  display: block;
}

.slider_2 {
  position: relative;
  width: 240px;
  height: 279px;
  margin-right: 80px;
  filter: drop-shadow(0px 4px 4px var(--basic-shadow));
}

.shadow-block {
  position: absolute;
  width: 10px;
  height: 279px;
  left: 230px; top: -47px;
  z-index: 5;
}

.slider-delivery,
.guarantee,
.credit {
  margin: 0;
  width: 240px;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 18px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--dark-grey);
  border: none;
}

.current-button {
  color: var(--dark-grey);
  background-color: var(--basic-white);
}


.guarantee,
.credit { 
  box-shadow: 0px 1px 0px var(--darken-grey), inset 0px 1px 0px var(--inset-shadow);
}

.slider-delivery:hover,
.guarantee:hover,
.credit:hover {
  color: var(--basic-white);
  background-color: var(--darken-grey);
}

.slider-delivery:active,
.guarantee:active,
.credit:active {
  color: var(--dark-grey);
  background-color: var(--basic-white);
}

/*--About--technomart*/

.about {
  display: flex;
  justify-content: space-between;  
  height: 356px;
  margin-bottom: 70px;
  padding: 0;
  outline: 1px solid var(--icon-grey);
  outline-offset: -1px;
}

.about h2 {
  color: var(--basic-black);
} 

.about-company {
  padding: 0;
  width: 450px;
}

.about-company .first {
  margin-bottom: 25px;
}

.about-company .second {
  margin-bottom: 0;
}

.about .contacts {
  width: 300px;
  min-height: 356px;
  margin: 0;
  padding: 0;
  outline: 1px solid var(--goods-yellow);
  outline-offset: -1px;
}

.about h2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.shopping, 
.shopping-1 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.shopping-1 {
  width: 181px;
  min-height: 49px;
}

.delivery-line {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 37px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.delivery-line::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  left: -37px; top: 12px;
  background-color: var(--basic-red);
}

.d,
.a {
  margin-bottom: 12px;
}

.g {
  margin-bottom: 22px;
}

.about-button {
  width: 220px;
}

.map {
  margin-top: 32px;
  margin-bottom: 25px;
  width: 100%;
  height: 158px;
}

.contacts .button-link {
  width: 100%;
  text-align: center;

}
/*
.map {
  width: 300px;
  height: 158px;
}




.piter {
  width: 300px;
  height: 158;
  
}

/*--footer--*/

.page-footer {
  grid-row:3/4;
  display: grid;
  grid-template-rows: 63px auto auto; 
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--dark-grey);  
}

.footer-list,
.footer-goods,
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-top {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: auto fr;
  margin-bottom: 50px;
}

.footer-list {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 63px;
}

.footer-middle {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto fr;
  height: 131px;
}

.footer-contact {
  grid-column: 1/2;
}

.footer-phone {
  margin-top: 0;
}

.footer-address {
  margin-top: 25px;
  margin-bottom: 0;
}

.footer-goods {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.container-bottom {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: auto min-content fr;
  padding-top: 20px;
}

.footer-copyright {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 161px;
}

.social-list {
  grid-column: 2/3;
}
.feedback {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}

.footer-user-logo {
  margin-top: 0;
  width: 220px;
  height: 63px;
  background-color: var(--basic-red);
  background-image: url(../img/logo-technomart1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 5px var(--darken-red);
}

.footer-user-logo:active {
  background-color: var(--error-red);
  box-shadow: 0px 5px var(--logo-dark);
}

.footer-bottom {
  min-height: 107px;
  background-color: var(--darken-grey);
}

.footer-item a {
  color: var(--service-grey);
}

.footer-item a:hover {
  text-decoration-line: underline;
}

.footer-item a:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-address,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
  color: var(--header-grey);
}

.footer-goods a {
  color: var(--footer-yellow);
}

.footer-goods a:hover {
  text-decoration-line: underline;
}

.footer-goods a:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  outline: 1px solid var(--special-blue);
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

/*--social-button--*/
/* стилизация*/

.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 145px;
  height: auto;
  outline: 1px solid var(--special-blue);
}

.social-item {
  font-size: 0;
}

.social-button {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 3px;
  background-color: var(--social-dark);
  border-radius: 50%;
}

.vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inst {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.vk:hover,
.fb:hover,
.inst:hover {
  background-color: var(--basic-red);
}

.vk:active,
.fb:active,
.inst:active {
  background-color: var(--basic-red);
  transform: scale(0.95);
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  outline: 1px solid var(--special-blue);
}

.feedback-link {
  margin-left: 105px;
  margin-right: 51px;
}

.feedback,
.social-list a {
  color: var(--basic-white);
}

.site-link,
.email-link {
  color: var(--footer-yellow);
}

.site-link:hover,
.email-link:hover {
  text-decoration-line: underline;
}

.site-link:active,
.email-link:active {
  color: var(--basic-red);
}


/*-----------Catalog-------------------*/
/*--Grid--*/

.main-header-catalog {
  margin-bottom: 0;
}

.header-middle-catalog {  
  grid-row: 2/3;
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  outline: 1px solid var(--social-dark);
  outline-offset: -1px;
}

.main-header-catalog .cart {  
  background-color: var(--basic-red);
}

.header-middle-catalog .contact {
  margin-right: 51px;
}

.catalog-person {  
  width: 299px;
  height: 70px;
  padding: 0;
  margin: 0;
  outline: 1px solid var(--special-blue);
  outline: -1px;
}

.p-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 12px 0;
  background-color: var(--basic-white);
  
}

.name {  
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.my-orders {
  display: flex;
  justify-content: center;
  margin: 0;
  outline: 1px solid var(--darken-red);
  outline: -1px;
}

.my-orders p {
  margin: 0;
  padding: 0;
}

.names,
.exit {
  fill: var(--basic-greylight);
}

.name:hover > .names {
 fill: var(--basic-grey); /*--иконки меняют цвет--*/
}

.name:active,
.name:active > .names {
  color: var(--basic-greylight);
  fill: var(--basic-greylight);
}

.name:hover > .exit {
  fill: var(--basic-grey); /*--иконки меняют цвет--*/
 }
 
 .name:active,
 .name:active > .exit {
   color: var(--basic-greylight);
   fill: var(--basic-greylight);
 }

.orders, 
.my-account {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--dark-grey);
}

.orders:hover,
.my-account:hover {
  color: var(--basic-red);
}

.orders:active,
.my-account:active {
  color: var(--basic-greylight);
}


/*--Catalog--перфораторов*/

.page-catalog {
  grid-row: 2/3;
  margin-top: 0;
  padding: 0;  
}

.page-catalog .wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px; 
}

.perforator-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.perforator-list .right-small {
  margin-left: 16px;
  margin-right: 16px;
}

.page-catalog .catalog-title {
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  order: 3;
  }

.wrapper-global {
  display: grid;
  grid-template-areas:
    'filter catalog';
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
  margin-bottom: 48px;  
}

.filter {
  grid-area: filter;
  margin-top: 0; 
}

.wrapper-right {
  grid-area: catalog;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
  

.assortment {
  display: flex;
  width: 700px;
}

.catalog-list {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 gap: 20px;
 margin-top: 0;
}

.page-catalog {
  padding-top: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

.page-catalog h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal; 
  color: var(--dark-grey);
  text-transform: uppercase;
  background-color: var(--catalog-title-grey);
}

/*---Фильтр--*/

.assortment  {
  height: 38px;
  margin-bottom: 28px;  
}

.filter h3,
.assortment h3,
.assortment p {
  width: 220px;
  height: 38px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--catalog-filter-grey);  
}

.filter label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black); 
}

.filter h3 {
  padding-left: 20px;
  margin-bottom: 14px;
  text-align: left;
  width: 197px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--basic-greylight);
}

fieldset:last-child {
  border-bottom: none;
}

.filter-form {
  margin-top: 0;
  padding-top: 0;
  
}

.filter .price {
  margin: 0;
  margin-bottom: 11px;
}

.range-filter {
  width: 220px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--catalog-filter-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--toggle-grey);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color:  var(--bar-green);
}

.range-controls .toggle {
  position: absolute;
  left: 0; top: 31px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--grey-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {  
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  height: 38px;  
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--catalog-filter-grey);
}

.price-controls p {
  font-family: inherit;
  font-size: inherit;
}
.price,
.producer,
.power {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-producer {
  margin: 16px 0 17px 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option label:disabled {
  color: var(--basic-black);
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: '';
  left: -33px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.filter-input-checkbox + label:hover::before {
  border-color: var(--grey-checkbox);
}

.filter-input-checkbox +label:disabled::before {
  border-color: var(--basic-black);
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  content: '';
  left: -28px; top: 2px;
  width: 22px;
  height: 17px;
  background-image: url(../img/bird-checkbox.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  position: absolute;
  content: '';
  left: -33px;
  top: 0;
  width: 15px;
  height: 15px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%; 
}

.filter-input-radio:checked + label::after {
  position: absolute;
  content: '';
  left: -26px; top: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-option label:disabled {
  color: var(--basic-black);
  opacity: 0.4;
}

.filter-input-radio + label:hover::before {
  border-color: var(--grey-checkbox);
}

.filter-input-radio + label:hover::after {
  background-color: var(--grey-checkbox);
}

.filter-input-radio +label:disabled::before {
  border-color: var(--basic-black);
  opacity: 0.4;
}

.filter-power {
  margin: 18px 0 23px 0;
}

.producer-list li {
  margin-left: 35px;
  margin-bottom: 20px;
}

.power-list li {
  margin-left: 35px;
  margin-bottom: 22px;
}

.power-list li:last-child {
  margin-bottom: 37px;
}

.button-power {
  display: inline-block;
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-greylight);  
}

.button-up-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  margin-top: 0;
  background-color: var(--catalog-filter-grey);  
  }

.up {
  margin-right: 10px;
}

.down {
  margin-right: 3px;
}

.assortment .func {
 width: 175px; 
}

.assortment .type {
  width: 140px;
}

.assortment .prices {
  width: 125px;
}

.assortment .sort {
  width: 245px;
  text-align: left;
  padding-left: 20px;
}

.assortment span {
  height: 18px;
  border-bottom: 1px dotted var(--logo-dark);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.assortment span {
  border-bottom: 1px dotted var(--basic-red);
}

.assortment span:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.assortment span:active {
  color: var(--basic-red);
  border: none;
}

.assortment .up {
  transform: rotate(-180deg);
}

.assortment .up,
.assortment .down {
  background-color: transparent;
  border: none;
}

.assortment svg {
  fill: var(--basic-greylight);
}

.assortment svg:hover {
  fill: var(--basic-black);
}

.assortment svg:active {
  fill: var(--basic-red);
  border: none;
}

.perforator-list,
.producer-list,
.power-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.perforator-list a,
.perforator-list .breadcrumbs-current {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;  
}

.catalog-item {
  position: relative;
  width: 220px;
  height: 318px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--border-grey); 
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px var(--dark-shadow);
}
/*
.catalog-item:hover::before {
  position: absolute;
  content: '';
  width: 220px;
  height: 180px;
  left: 0; top: 0;

  background-color: var(--basic-white);
  z-index: 2;
}*/



.catalog-anchor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 180px;
}

.catalog-item h3 {
  margin: 0 auto;
  margin-bottom: 7px;
  order: 2;
}

.show-block { 
  width: 220px;
  height: 180px;
  background-color: var(--basic-white);
}  

.show-block span {
  margin-left: 8px;
}

.buy {
  position: relative;
  box-sizing: boder-box;
  margin-left: 38px;
  margin-top: 41px;
  margin-bottom: 10px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 3px solid var(--dark-green);
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.hidden-cart {
  position: absolute;
  left: 30px; top: 10px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.buy:hover {
  cursor: pointer;
  background-color: var(--success);
}

.buy:active {
  order: none;
  background-color: var(--darken-green);
}

.into-bookmarks {
  box-sizing: border-box;
  margin-left: 38px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 34px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-grey);
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
}

.into-bookmarks:hover {
  cursor: pointer;
  border-color: var(--dark-grey);
}

.into-bookmarks:active {
  color: var(--grey-bookmarks);
  border-color: var(--grey-bookmarks);
}

.show-block {
  display: none;
}

.pages-button { 
  display: flex;
  margin-left: 240px;
  margin-bottom: 59px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; 
}

.pagination-item {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 38px;
  height:38px;
  color: var(--basic-black);
  border: 1px solid var(--page-grey);
  background-color: var(--basic-white);
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-button:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-item a:active,
.pagination-button:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
}

.pagination-button {
  width: 140px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--page-grey);
}

.content {
  background-color: var(--service-grey);
  padding-top: 64px;
  padding-bottom: 68px;
}

.content .two-words {
  margin: 0;
  margin-bottom: 25px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal; 
  color: var(--basic-black);
  text-transform: uppercase;
}

.content p {
  margin: 0;
}

.catalog-text {
  width: 908px;
  height: 74px;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/*--Modal windows -*/

/*---Пишите нам----*/

.modal-message {
  position: relative;
  margin-bottom: 20px;
  padding-top: 46px;
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--modal-line-red);
  box-shadow: 0px 4px 10px 0px var(--dark-shadow);
}

.form-message input[type='text'],
.form-message input[type='email'],
.form-message textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-greylight);
  box-sizing: border-box;
  background-color: var(-basic-white);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.container-inner {
  width: 460px;
  margin: 0 auto;  
}

.wrapper-message {
  display: flex;
  justify-content: between-space;
  margin-bottom: 13px;
}  

.write-us-name,
.write-us-email {
  display: block;
  margin-bottom: 11px;
}

.write-us-input,
.write-us-input {
  width: 220px;
  height: 38px;
}

.text {
  width: 460px;
  height: 114px;
  margin: 0 auto;
  margin-bottom: 74px;
}

.message-name,
.message-email {
  margin-top: 0;  
}

.message-name {
  margin-right: 20px;
}

.message-text {
  margin-bottom: 11px;
}

.wrapper-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 112px;
  background-color: var(--grey-modal);
}

.button-message {
  width: 460px;
}

.modal-message .modal-close {
  position: absolute;
  left: 588px; top: 21px;
}


/*--Корзина добавления товара--*/

.modal-cart {
  position: relative;
  width: 620px;
  height: 282px;
  border-top: 7px solid var(--modal-line-red);
  box-shadow: 0px 4px 10px 0px var(--dark-shadow);
}

.wrapper-cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 620px;
  height: 170px;
}

.modal-cart .icon-mark {
  width: 66px;
  height: 66px;
  margin-left: 81px;
  
}

.modal-cart h3 {
  width: 267px;
  height: 30px;
  margin: 73px 0  68px 29px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  outline: 1px solid #5FBB2D;
  outline-offset: -1px;
}
  
.button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  background-color: var(--grey-modal-cart);
}

.button-in-cart {
  display: block;
  margin-left: 10px;
  width: 192px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
  text-transform: uppercase;  
}

.modal-cart .modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 588px; top: 18px;
}












.modal-maps .map-yandex {
  width: 943px;
  height: 449px;
  border-top: 10px solid var(--basic-red);
}

.modal-button {
  background-color: transparent;
  border: none;
}
