/*-Variables-*/

:root {
  --basic-red:#EE3643;
  --darken-red: #B32B34;
  --hover-red: #CA2C37;
  --error-red: #BA2732;
  --logo-dark: #8C2027;

  --basic-green: #63A63E;
  --special-greenlight: #8ED78F;
  --success : #5FBB2D;

  --basic-white: #FFFFFF;

  --home-grey: #C1C6CE;
  --basic-grey: #697180;
  --page-grey: #E5E5E5;
  --basic-greylight: #C5C5C5;
  --tel-grey: #B7BFC8;
  --icon-grey: #3BBCE3;
  --dark-grey: #32425C;
  --darken-grey: #293449;
  --darkness-grey: #1D2739;
  --price-grey: #A9A9A9;
  --header-grey:#F3F7F9;
  --border-grey: #EAEAEA;
  --title-background-grey: #F9F5F0;  
  --service-grey: #F1F5F7;
  --catalog-title-grey: #F2F6F8;
  --catalog-filter-grey: #F7F3EC;

  --basic-black: #000000;
  --cart-dark: #161D29;

  --special-yellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --goods-yellow: #FFC047;
  --footer-yellow: #FFDA96;

  --special-blue: #3BBCE3;

  --special-lilac: #DC91D8;

  --social-dark: #212A3A;
  --card-button: rgba(255,255,255, 0.3);
  --cart-icon-dark: rgba(255, 255, 255, 0.5);
  --basic-shadow: rgba(0, 0, 0, 0.25);
  --dark-shadow: rgba(0, 0, 0, 0.15);
  --inset-shadow: #405069;
}

/*--Global--*/

.page-body {
  border: 1px solid red;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  font-style: normal;
  font-weight: normal;  
}

a {
  text-decoration: none;
}

.container {
  border: 1px solid blue;
  width: 940px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-grey);
  text-transform: uppercase;
}

h3 {
  width: 185px;
  height: 143px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  width: 65px;
  height: 18px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  color: var(--price-grey);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.pentagon {
  width: 141px;
  height:38px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
}

/*--Header--*/

.main-header {
  color: var(--basic-white);
  background-color: var(--header-grey); 
}

.header-top {
  background-color: var(--darken-grey);
}

.user-logo {
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  background-image: url(../img/logo-technomart.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 5px var(--darken-red);
}

.user-logo:active {
  background-color: var(--error-red);
  box-shadow: 0px 5px var(--logo-dark);
}

.footer-user-logo {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  background-image: url(../img/logo-technomart1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 5px var(--darken-red);
}

.footer-user-logo:active {
  background-color: var(--error-red);
  box-shadow: 0px 5px var(--logo-dark);
}

.search input {
  width: auto;
  height: 47px;
  background-color: var(--darken-grey);
  border: none;
}

.search:focus,
.search input:focus {
  background-color: var(--basic-white);  
}

.searching {
  fill: var(--basic-white);
}

  input:focus .searching {
  fill: var(--basic-red);
  mix-blend-mode: normal;
}


.bookmark .book,
.cart .carts,
.search .searching {
  margin-right: 5px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.bookmark,
.cart {
  color: var(--basic-white);
}

.bookmark:hover > .book,
.cart:hover > .carts,
.search:hover > .searching {
 mix-blend-mode: normal;
 opacity: 1;
}

.bookmark:active,
.cart:active {
  color: var(--cart-icon-dark);
  background-color: var(--cart-dark);
}

.bookmark:active > .book,
.cart:active > .carts {
 mix-blend-mode: normal;
 opacity: 0.3;
}


.order {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;  
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.order:hover {
  background-color: var(--success);
}

.order:active {
  color: var(--cart-icon-dark);
}

/*--header-middle--*/

.site-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: var(--basic-red);
}

.phone {
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-grey);
}

.login-link, 
.registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.enter {
  fill: var(--basic-greylight);
}

.login-link:hover,
.registration:hover {
  color: var(--basic-red);
}

.login-link:hover > .enter {
  fill: var(--basic-grey);
}

.login-link:active > .enter {
  fill: var(--basic-greylight);
}

.login-link:active,
.registration:active {
  color: var(--basic-greylight);
}


.name {
  width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.names,
.exit {
  fill: var(--basic-greylight);
}

.name:hover > .names {
 fill: var(--basic-grey); /*--иконки меняют цвет--*/
}

.name:active,
.name:active > .names {
  color: var(--basic-greylight);
  fill: var(--basic-greylight);
}

.name:hover > .exit {
  fill: var(--basic-grey); /*--иконки меняют цвет--*/
 }
 
 .name:active,
 .name:active > .exit {
   color: var(--basic-greylight);
   fill: var(--basic-greylight);
 }

.orders, 
.my-account {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--dark-grey);
}

.orders:hover,
.my-account:hover {
  color: var(--basic-red);
}

.orders:active,
.my-account:active {
  color: var(--basic-greylight);
}

/*--main-navigation--*/

.main-navigation {
  background-color: var(--dark-grey);
  border-bottom: 5px solid var(--darken-grey);
}

.site-navigation {
  list-style: none; 
}

.site-item a {
  color: var(--basic-white);
}

.site-item a:hover {
  background-color: var(--darken-grey);
}

.site-item a:active {
  background-color: var(--darkness-grey);
  opacity: 0.5;
  text-shadow: 0px 4px 4px var(--basic-shadow);
}

/*--main--
    section goods--*/

.goods h3 {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 23px; top: 20px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: var(--basic-white);
}

.goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item {
  width: 300px;
  height: 123px;
}

.material {
  position: relative;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-color: var(--special-yellow);
}

.tools {
  position: relative;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px;
  background-color: var(--special-blue);
}

.equipment {
  position: relative;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-color: var(--special-lilac);
}

.discount {
  position: relative;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
  background-color: var(--special-greenlight);
}

.delivery {
  position: relative;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
  background-color: var(--goods-yellow);
}

.goods-button {
  position: absolute;
  display: block;
  left: 23px; top: 64px;
  width: 135px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 38px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  /*filter: drop-shadow(0px 4px 4px var(--basic-shadow));*/

  background-color: var(--card-button);
  /*opacity: 0.3;*/
}



/*--popular goods--*/


.popular-goods h2 {
  background-color: var(--title-background-grey);
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-link {
  display: block;
  width: 192px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  text-transform: uppercase;
}

.button-link:hover {
  background-color: var(--hover-red);
}

.button-link:active {
  background-color: var(--error-red);
}

/*--popular-logo--*/

.popular-logo h2 {
  background-color: var(--title-background-grey);
}

.popular-logo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-logo-item a {
  display: block;
  width: 220px;
  height: 145px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid var(--border-grey);
  background-color: var(--basic-white);
}

.popular-logo-item a:hover {
  filter: drop-shadow(0px 4px 10px var(--dark-shadow));
}

.popular-logo-item a:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 10px var(--dark-shadow));
}

/*--service and delivery--*/

.service-delivery {
  background-color: var(--service-grey);
}

.service,
.service_delivery {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.slider {
  width: 240px;
  height: 279px;
  filter: drop-shadow(0px 4px 4px var(--basic-shadow));
}

.slider-delivery,
.guarantee,
.credit {
  margin: 0;
  width: 240px;
  height:61px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--dark-grey);
}

.guarantee,
.credit { 
  box-shadow: 0px 1px 0px var(--darken-grey), inset 0px 1px 0px var(--inset-shadow);
}


.slider-delivery:hover,
.guarantee:hover,
.credit:hover {
  color: var(--basic-white);
  background-color: var(--darken-grey);
}

.slider-delivery:active,
.guarantee:active,
.credit:active {
  color: var(--dark-grey);
  background-color: var(--basic-white);
}

/*--About--technomart*/

.about h2 {
  color: var(--basic-black);
} 

.shopping {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.delivery-line {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}
/*
.map {
  width: 300px;
  height: 158px;
}




.piter {
  width: 300px;
  height: 158;
  
}

/*--footer--*/

.page-footer {
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--dark-grey);
}

.footer-bottom {
  background-color: var(--darken-grey);
}

.footer-list,
.footer-goods,
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-item a {
  color: var(--service-grey);
}

.footer-item a:hover {
  text-decoration-line: underline;
}

.footer-item a:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-address,
.footer-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--header-grey);
}

.footer-goods a {
  color: var(--footer-yellow);
}

.footer-goods a:hover {
  text-decoration-line: underline;
}

.footer-goods a:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

/*--social-button--*/
/* стилизация*/

.social-list {
  display: flex;
  width: 145px;
  height: auto;
}

.social-item {
  font-size: 0;
}

.social-button {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 3px;
  background-color: var(--social-dark);
  border-radius: 50%;
}

.vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inst {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.vk:hover,
.fb:hover,
.inst:hover {
  background-color: var(--basic-red);
}

.vk:active,
.fb:active,
.inst:active {
  background-color: var(--basic-red);
  transform: scale(0.95);
}





.feedback,
.social-list a {
  color: var(--basic-white);
}

.site-link,
.email-link {
  color: var(--footer-yellow);
}

.site-link:hover,
.email-link:hover {
  text-decoration-line: underline;
}

.site-link:active,
.email-link:active {
  color: var(--basic-red);
}


/*--Catalog--*/

.page-catalog {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

.page-catalog h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal; 
  color: var(--dark-grey);
  text-transform: uppercase;
  background-color: var(--catalog-title-grey);
}
/*---Фильтр--*/

.assortment p {
  background-color: var(--catalog-filter-grey);
}

.filter h3,
.assortment h3,
.assortment p {
  width: 220px;
  height: 38px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black); 
}

.price,
.producer,
.power {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase; 
}

.button-power {
  display: inline-block;
  width: 220px;
  height: 38px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid var(--basic-greylight);  
}

.assortment span {
  
  width: auto;
  height: 18px;
  border-bottom: 1px dotted var(--basic-red);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.assortment span {
  border-bottom-color: var(--basic-red);
}

.assortment span:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.assortment span:active {
  color: var(--basic-red);
  border: none;
}

.assortment .up {
  transform: rotate(-180deg);
}

.assortment .up,
.assortment .down {
  background-color: transparent;
  border: none;
}

.assortment svg {
  fill: var(--basic-greylight);
}

.assortment svg:hover {
  fill: var(--basic-black);
}

.assortment svg:active {
  fill: var(--basic-red);
  border: none;
}





.producer-list,
.power-list {
  margin:0;
  padding:0;
  list-style: none;
}

.perforator-list {
  margin:0;
  padding: 0;
  list-style: none;
}

.perforator-list li {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  border: 1px solid blue;
  position: relative;
  width: 220px;
  height: 318px;
}

.catalog-item .catalog-item-image {
  display: block;
  border: 1px solid green;
}

.catalog-picture:hover ~ .catalog-hidden {
  display: block;
}

.catalog-hidden {
  display: none;
  position: absolute;
  left: 0; top: 0;

}

.pagination-list {
  list-style: none;
}

.pagination-item {
  width: 38px;
  height: 38px;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 38px;
  height:38px;
  color: var(--basic-black);
  border: 1px solid var(--page-grey);
  background-color: var(--basic-white);
  border-radius: 2px;
}

.pagination-item-current a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
}

.pagination-button {
  width: 140px;
  height: 38px;
  text-align: center;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

.content {
  background-color: var(--service-grey);
  padding-bottom: 10px;
}

.content h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal; 
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-text {
  width: 908px;
  height: 74px;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/*--Modal windows -*/

.modal-message {
  width: 620px;
  height: 430px;
  box-shadow: 0px 4px 10px 0px var(--dark-shadow);
}

.form-message input[type='text'],
.form-message input[type='email'],
.form-message textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-greylight);
  box-sizing: border-box;
  background-color: var(-basic-white);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.modal-maps .map-yandex {
  width: 943px;
  height: 449px;
  border-top: 10px solid var(--basic-red);
}

.modal-close {
  background-color: transparent;
  border: none;
}
